@import '../../../assets/fonts/ComicNeue/ComicNeue.css';

.container {
	font-family: 'Comic Neue', sans-serif;
	width: 680px;
	height: 150px;
	background-color: #2b63d0;
	margin: 8px;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	transition: 500ms;
}

.container:hover {
	transform: scale(0.97);
}

#indicator {
	font-size: 32px;
	transition: 500ms;
}

#indicator:hover {
	transform: rotate(360deg);
}

#title {
	color: white;
	font-size: 32px;
	width: 500px;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	width: 70px;
	align-items: center;
}

#completeBtn {
	font-size: 32px;
	transition: 400ms;
}

#completeBtn:hover {
	transform: scale(1.2);
}

#completed {
	opacity: 0;
}

#deleteBtn {
	font-size: 30px;
	transition: 400ms;
}

#deleteBtn:hover {
	transform: scale(1.15);
}
