@import '../../../assets/fonts/ComicNeue/ComicNeue.css';

.container {
	font-family: 'Comic Neue', sans-serif;
	width: 680px;
	height: 150px;
	background-color: #2b63d0;
	margin: 8px;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
    cursor: pointer;
}

#indicator {
	font-size: 32px;
}

#title {
	color: white;
	font-size: 32px;
	width: 500px;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	width: 70px;
	align-items: center;
}

#completeBtn {
	font-size: 32px;
}

#deleteBtn {
	font-size: 30px;
}
