@import '../../../assets/fonts/ComicNeue/ComicNeue.css';

.container {
	font-family: 'Comic Neue', sans-serif;
	width: 680px;
	min-height: 150px;
	background-color: #2b63d0;
	margin: 8px;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: 500ms;
}

.container:hover {
	transform: scale(0.97);
}

.avatar {
	width: 120px;
	height: 120px;
	border: 3px solid white;
}

.user-info {
	width: 300px;
	word-break: normal;
}

#name {
	width: 300px;
	height: fit-content;
	color: white;
	font-size: 32px;
	font-weight: bold;
}

#email {
	width: 300px;
	height: fit-content;
	color: #d9d9d9;
	font-size: 26px;
	font-weight: bold;
}

#tasks {
	color: white;
	font-size: 32px;
	font-weight: bold;
}

#completed {
	color: #d9d9d9;
	font-size: 26px;
	font-weight: bold;
}

.red {
	color: rgb(232, 28, 28);
}

.yellow {
	color: yellow;
}

.green {
	color: rgb(2, 153, 2);
}
