.task-modal-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.task__modal-content {
	width: 750px;
	min-height: 180px;
	background-color: #0384fc;
	opacity: 0;
	transform: scale(0.7);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px;
	transition: 650ms;
}

.task__modal-content.active {
	transform: scale(1);
	opacity: 1;
}

.edit-title-input {
	font-size: 30px;
	color: #b0b0b0;
	width: 640px;
	height: 65px;
	border: 3px solid #d9d9d9;
	padding: 0.3em;
	transition: 400ms;
}

.edit-title-input:focus {
	color: black;
}

.edit-title-input:hover {
	transform: translateY(1px);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.448);
}

#task-icon {
	font-size: 62px;
	transition: 400ms;
}

#task-icon:hover {
	transform: translateY(5px);
}

.task-btns-container {
	margin-top: 7px;
	width: 387px;
	display: flex;
	justify-content: space-between;
}
