@import '../../../assets/fonts/ComicNeue/ComicNeue.css';

.add-btn {
	font-family: 'Comic Neue', sans-serif;
	font-weight: bold;
	font-size: 34px;
	width: 250px;
	height: 100px;
	background-color: #3a9efd;
	color: white;
	border: transparent;
	border-radius: 0.5em;
	cursor: pointer;
	transition: 400ms;
}

.add-btn:disabled {
	cursor: not-allowed;
	background-color: #3a9ffd83;
}

.add-btn:hover {
	transform: translateY(2px);
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.448);
}
