@import '../../../../assets/fonts/ComicNeue/ComicNeue.css';

.user__modal-content {
	font-family: 'Comic Neue', sans-serif;
	min-width: 780px;
	height: 210px;
	display: flex;
	padding: 15px;
	justify-content: space-between;
	opacity: 0;
	background-color: #4d3bab;
}

.user__modal-content.active {
	opacity: 1;
}

.content-and-btns {
	width: 780px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;
}

.user-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 180px;
	margin-right: 15%;
}

.user-tasks-info-container {
	width: 400px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btns-container,
.edit-btns-container {
	width: 780px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
}

.edit-btns-container {
	width: 417px;
}

#user-avatar {
	height: 180px;
	width: 180px;
	border: 4px solid white;
}

#user-name {
	color: white;
	width: 400px;
	height: fit-content;
	font-size: 32px;
	font-weight: bold;
}

#user-email {
	width: 400px;
	height: fit-content;
	color: #d9d9d9;
	font-size: 26px;
	font-weight: bold;
}

.user-tasks {
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.user-tasks.margin,
.user-completed-tasks.margin {
	margin-left: 17px;
}

.user-completed-tasks {
	color: #d9d9d9;
	font-size: 28px;
	font-weight: bold;
}

#close-cross {
	font-size: 24px;
	cursor: pointer;
}

#red {
	color: rgb(232, 28, 28);
}

#yellow {
	color: yellow;
}

#green {
	color: green;
}

.edit-name-input,
.edit-email-input {
	font-family: 'Comic Neue', sans-serif;
	width: 300px;
	height: 50px;
	font-size: 26px;
	color: #b0b0b0;
	margin-left: 17px;
	padding: 0.3em;
	border: 3px solid #d9d9d9;
}

.edit-email-input {
	font-size: 24px;
	margin-top: 0.4em;
	height: 40px;
	width: 385px;
}

.edit-name-input:focus,
.edit-email-input:focus {
	color: black;
}
